body {
    background-color: #22232f;
    color: #d0ebf7;
    font-family: Arial, sans-serif;
    text-align: center;
        padding: 40px;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

header button {
    margin-left: 10px;
    padding: 15px 25px;
    font-size: 1em;
    border: 1px solid #d0e6f0;
    background-color: transparent;
    color: #d0e6f0;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.text-center {
    text-align: center;
}