<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About Us</title>
    <style>
      .flex-container {
        display: flex;
      }

    </style>
</head>
<body>
  <header>
    <button onclick="location.href='/contact'">Contact</button>
    <button onclick="location.href='/buildyourportfolio'">Start building your portfolio!</button>
  </header>
  <div class="flex-container">
    <img src="{{ url_for('static copy', filename='3.jpg') }}" style="width: 50px; height: 50px;">
    <h1>About Us</h1>
  </div>
  <p class="text-center"> The company was founded in 2000. It was born in Cologne, Germany.
    <br><br>
    Three professional founders met in Cologne
    <br><br>
    They bring together by a common interest and vision
    <br><br>
    They decided to combine their expertise and resources to create winportfolio
  </p>
  
  <div class="text-center">
    <p style="font-family: 'Magnolia Script', monospace; font-size: 40px; color: white;">
      Be the best investor partner
    </p>
    <img src="{{ url_for('static', filename='微信图片_20241121225903.png') }}" alt="Logo" style="width: 100px; height: 100px;">
  </div>

</body>
</html>