<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">

    <style>
      .flex-container {
        display: flex;
      }

    </style>
</head>
<body>
  <header>
    <button onclick="location.href='/contact'">Contact</button>
    <button onclick="location.href='/'">Login</button>
  </header>
  <div class="flex-container">
    <img src="{{ url_for('static', filename='3.jpg') }}" style="width: 50px; height: 50px;">
    <h1>About Us</h1>
  </div>
  <p class="text-center; ">
  <p style="font-size: 20px;"> 
    We make investing simple and accessible. Our platform is designed to help beginners learn about the stock market, practice trading risk-free, and manage their portfolios with confidence.
  </p>

</body>
</html>