<!DOCTYPE html>
<html lang="en">

<head>
    <title>Contact</title>
</head>

<body>
    <header>
    <button onclick="location.href='/about'">About</button>
    <button onclick="location.href='/'">Login</button>
    </header>

    <h1>Contact</h1>


        <div class="contact-info">
            <div class="contact-item">
                <img src="static/1732229937889.png" alt="Phone">
                <input type="text" value="+49 1235678901" readonly>
            </div>
            <div class="contact-item">
                <img src="static/1732230252169.png" alt="Email">
                <input type="text" value="1235678901@cbs-mail.de" readonly>
            </div>
            <div class="contact-item">
                <img src="static/1732230297642.png" alt="Instagram">
                <input type="text" value="WINPORTFOLIO" readonly>
            </div>
            <div class="contact-item">
                <img src="static/1732230323272.png" alt="Facebook">
                <input type="text" value="WINPORTFOLIO" readonly>
            </div>
        </div>
</body>

</html>