<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
    
</head>
<body>
    <main>
        <button onclick="location.href='/about'">About Website</button>
        <button onclick="location.href='/contact'">Contact</button>
        <h1>WELCOME TO WINPORTFOLIO</h1>
        <form action="{{ url_for('greet') }}" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>
