<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stockfinder</title>
</head>
<body>
    <header>
    <button onclick="location.href='/portfolio'">Portfolio</button>
        <button onclick="location.href='/buildyourportfolio'">Add money to your wallet</button>
    </header>
      <h1>Find a Stock</h1>
    <form action="/stock" method="POST">
        <label for="stock_ticker">Enter Stock Ticker:</label>
        <input type="text" id="stock_ticker" name="stock_ticker" required>
        <button type="submit">Submit</button>
    </form>

</body>
</html>